@model HomeViewModel

<!DOCTYPE HTML>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Escape Velocity by HTML5 UP</title>
    <link rel="icon" href="~/images/popcorn_icon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/details.css" />
    <script src="~/js/site.js" type="module"></script>

</head>
<body>
    <header>
        <h2>CMDB</h2>
        <p><i>- för oss filmälskare</i></p>
        <div class="logo"></div>
    </header>

    <div class="searchEntry">
        <form id="searchBar" class="searchBar">
            <label for="search"></label>
            <input id="search" type="text" autocomplete="off" />
            @*<div id="clear" class="none ButtonClear" role="button"
                 tabindex="0" aria-label="Clear search terms" >
                    x
                </div>*@
            <button id="searchButton" class="button searchButton"
                    type="submit" aria-label="Submit button">
                <i class="fas fa-search"></i>

            </button>
        </form>
    </div>


    <div class="flexcontainer">
        <div class="flex-picture-left">
            <h2 class="topMovie">Titel, År</h2>
            <a href="img/photo1.jpg" target="_blank">
                <img src="~/images/movietheater.jpg" alt="">     @*@Html.DisplayFor(model => model.Movies[0].Poster)*@
            </a>
            <h2><a href="#"></a>@*@Html.DisplayFor(model => model.Movies[0].Title), @Html.DisplayFor(model => model.Movies[0].Year)*@ </h2>
            <p>@*@Html.DisplayFor(model => model.Movies[0].Plot)*@</p>
            <button id="likeButton" class="likeButton"
                    type="submit" aria-label="Like button">
                <i class="far fa-thumbs-up"></i>

            </button>
            @*<script>
                function LikeMovie() {
                    var counter = "@Model.TopList[0].numberOfLikes"
                    document.getElementById("likeButton").innerHTML = "@Model.TopList[0].numberOfLikes";

                    for (var i = 0; i < counter; i++) {
                        counter++;
                    }
                }
            </script>*@
            <button id="dislikeButton" class="dislikeButton"
                    type="submit" aria-label="Dislike button">
                <i class="far fa-thumbs-down"></i>
            </button>
            @*<script>
                function DislikeMovie() {

                }

            </script>*@
        </div>


    </div>
    <div class="flexcontainer2">

        <div class="flex-picture-left-bottom">
            <a href="" target="_blank">
                @*<img src="" alt="">*@
            </a>
            <div>
                <img class="ratingImages" src="~/images/imdb.png" />
            </div>
            <h2>@*@Html.DisplayFor(model => model.Movies[0].Ratings[0].Value)*@</h2>

        </div>
        <div class="flex-picture-mid-bottom">

            <a href="" target="_blank">
                @*<img src="" alt="">*@
            </a>

            <img class="ratingImages" src="~/images/tomato.png" />
            <h2>@*@Html.DisplayFor(model => model.Movies[0].Ratings[0].Value)*@</h2>

        </div>
        <div class="flex-picture-right-bottom">

            <a href="" target="_blank">
                @*<img src="" alt="">*@
            </a>

            <img class="ratingImages" src="~/images/meta.png" />
            <h2>@*@Html.DisplayFor(model => model.Movies[0].Ratings[0].Value)*@</h2>

        </div>


    </div>

    <div class="flexcontainer3">
        <div class="plot">
            <h2>Handling</h2>
            <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>

        </div>

        <div class="actors">
            <h2>Skådespelare</h2>
            <ul>
                <li>
                    Skådespelare 1
                </li>
                <li>
                    Skådespelare 2
                </li>
                <li>
                    Skådespelare 3
                </li>

            </ul>
        </div> 

    </div>

 

    <footer>

        <p>Copyright Apollo13</p>
    </footer>


</body>
</html>