body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #a31f15;
}

* {
    padding: 0;
    margin: 0;
}

header {
    padding: 70px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: monospace;
    background: #2b2c30;
}

    header h2 a {
        text-decoration: none;
        color: white;
    }



.likeButton, .dislikeButton{
    height: 40px;
    width: 100px;
    border-radius: 50%;
    background: transparent;
    font-size: 40px;
    color: white;
    border: 0;
    cursor:pointer;

}

.numberOfDislikes, .numberOfLikes{
    font-size: 25px;
}


img {
    width: 500px;
    height: auto;
}

.like-dislike-container {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #a31f15;
    padding: 40px;
    text-align: center;
    margin: auto;
}


.flexcontainer2 {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #a31f15;
    padding: 40px;
    text-align: center;
    margin: auto;
    border-style: groove;
}

.ratingImages {
    width: 50px;
    height: auto;
}

.button {
    cursor: pointer;
    border: 0;
    background: transparent;
}


.flex-picture-left {
    background-color: #a31f15;
    display: block;
    padding: 70px;
    text-align: center;
    margin-right: 70px;
    color: white;
  
}

.flex-picture-left-bottom {
    background-color: #a31f15;
    padding: 20px;
    flex: 33%;
    font-size: 15px;
}

.flex-picture-mid-bottom {
    background-color: #a31f15;
    padding: 20px;
    flex: 33%;
    font-size: 15px;
}

.flex-picture-right-bottom {
    background-color: #a31f15;
    padding: 20px;
    flex: 33%;
    font-size: 15px;
}


.flexcontainer3 {
    padding: 0;
    color: white;
    font-size: 25px;
 
     
}

.actors, .plot, .director {
    padding: 20px;
    margin: 20px 0px 20px 0px;
   
}


.flexcontainer plot p{
    text-align: center;
    font-size: 15px;
}

.searchEntry {
    display: block;
    text-align: center;
    
}


@media only screen and (max-width: 1000px) {

    img {
        max-width: 80%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .flexcontainer,
    .flexcontainer2, .flexcontainer3 {
        flex-direction: column;
    }
}

footer {
    padding: 50px;
    text-align: center;
    background: #2b2c30;
    color: white;
    margin-top: auto;
}
