body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #a31f15;
}

* {
    padding: 0;
    margin: 0;
}

header {
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: monospace;
    background: #2b2c30;
}

.button-style{
    color: white;
    background-color: black;
  
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.flexcontainer2 {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #a31f15;
    padding: 10px;
    text-align: center;
    margin: auto;
}


.flexcontainer, .flexcontainer3 {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 30px;
    font-family: arial;
    background-color: #a31f15;
    color: white;
}

.flex-picture-left {
    background-color: #a31f15;
    padding: 20px;
  
}



.flex-picture-left-bottom {
    background-color: #a31f15;
    padding: 20px;
    flex: 33%;
}

.flex-picture-mid-bottom {
    background-color: #a31f15;
    padding: 20px;
    flex: 33%;
}

.flex-picture-right-bottom {
    background-color: #a31f15;
    padding: 20px;
    flex: 33%;
}

@media only screen and (max-width: 1000px) {

    img {
        max-width: 70%;
        height: auto;
    }
}

    @media only screen and (max-width: 600px) {
        .flexcontainer,
        .flexcontainer2, .flexcontainer3 {
            flex-direction: column;
        }
    }

footer {
    padding: 50px;
    text-align: center;
    background: #2b2c30;
    color: white;
    margin-top: auto;
}

