body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #a31f15;
}

* {
    padding: 0;
    margin: 0;
}

header {
    padding: 70px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: monospace;
    background: #2b2c30;
}

header h2 a{
    text-decoration: none;
    color: white;
}

.button-style {
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 30px;
    cursor:pointer;
  
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.flexcontainer2 {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #a31f15;
    padding: 40px;
    text-align: center;
    margin: auto;
    border-style: groove;
}

.ratingImages {
    width: 50px;
    height: auto
  
}

#more, #more1, #more2, #more3 {
    display: none;
}

.validationMessage{
    text-align: center;
    padding: 10px;
}


.flexcontainer3 {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 30px;
    font-family: arial;
    background-color: #a31f15;
    color: white;
}

.flex-picture-left {
    background-color: #a31f15;
    display: block;
    padding: 40px;
    text-align: center;
    margin-right: 70px;
    color: white;
    text-align: center;
    font-size: 15px;

}


.flex-picture-left-bottom {
    background-color: #a31f15;
    padding: 20px;
    flex: 33%;
    font-size: 15px;
}

.flex-picture-mid-bottom {
    background-color: #a31f15;
    padding: 20px;
    flex: 33%;
    font-size: 15px;
}

.flex-picture-right-bottom {
    background-color: #a31f15;
    padding: 20px;
    flex: 33%;
    font-size: 15px;
}

.searchBar {
    width: 35vw;
    display: flex;
    border-radius: 500px;
    border: 2px solid black;
    background: white;
    padding: 20px;
    margin-left: 550px;
    justify-content: center;
}

.topMovies, .topMovie{
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 30px;
}

.flexcontainer{
    padding: 0;
    font-size: 15px;
}

.searchEntry{
    text-align: center;
}

input[type="text"] {
    flex-grow: 1;
    text-align: left;
    min-width: 150px;
    border: 0;
    outline: none;
    font-size: 20px;
}

.button {
    cursor: pointer;
    border: 0;
    background: transparent;
    font-size: 20px;
    border-radius: 50%;
   
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}


#myInput:focus {
        outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    border: 2px solid black;
    background: white;
    min-width: 600px;
    z-index: 1;
    margin-left: 550px;

}
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content img {
        width: 30px;
        height: auto;
        border-radius: 0px;
    }
    .dropdown-content a:hover {
     background-color: lightgray;
    }

.show {
    display: block;
} 

@media only screen and (max-width: 1000px) {

    img {
        max-width: 70%;
        height: auto;
    }
}

 @media only screen and (max-width: 600px) {
    .flexcontainer,
    .flexcontainer2, .flexcontainer3 {
       flex-direction: column;
    }
 }

footer {
    padding: 50px;
    text-align: center;
    background: #2b2c30;
    color: white;
    margin-top: auto;
}

